<!-- Header -->
<app-header></app-header>

<!-- Hero -->
<app-hero-section></app-hero-section>

<!-- Sobre -->
<app-about-section></app-about-section>

<!-- Carrossel de imagens -->
<app-image-carousel-section></app-image-carousel-section>

<!-- A solução — módulos -->
<app-more-products-section></app-more-products-section>

<!-- Processos gerenciados atualmente pela plataforma -->
<app-processos-section></app-processos-section>


<!-- Como contratar -->
<app-como-contratar-section></app-como-contratar-section>

<!-- Processos gerenciados atualmente pela plataforma -->


<!-- Footer -->
<app-footer theme="sisamb"></app-footer>
